
@{
    ViewData["Title"] = "Add Studend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddStudent</h2>
<form method="post">
    <select name="studentId">

    </select>foreach
    <button type="submit">Add Student</button>
</form>


